@{
    ViewBag.Title = "Выгрузка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Выгрузка</h2>

<div class="row">
    <div class="form-group">
        <label for="header">Шапка формы:</label>
        <input type="file" name="header" id="header" class="form-control" />
    </div>
    @foreach (Exporter.Models.Entities.Parameter param in ViewBag.Parameters)
    {
        <div class="form-group">
            <label class="col-md-2">@param.ParameterRuName</label>
            <div class="col-md-10">
                <input type="@param.ParameterType" name="@param.ParameterName" data-name="@param.ParameterName" class="form-control text-box single-line parameter" />
            </div>
        </div>
    }
    <input type="hidden" id="SqlQueryContent" name="query" value="@ViewBag.Query" />
</div>
<hr />
@Html.AntiForgeryToken()
<button type="button" class="btn btn-info" onclick="userExec()">Выполнить</button>
<button type="button" class="btn btn-primary" onclick="GetCsv()">Сохранить в csv файл</button>
<button type="button" class="btn btn-success" onclick="GetExcel()">Сохранить в xls файл</button>
<span id="download"></span>
<span id="result"></span>

@section Scripts {
    @Scripts.Render("~/Scripts/app.js")
}