@{
    ViewBag.Title = "Выгрузка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="al-xz-custom-page">
    <h2>Выгрузка: @ViewBag.QueryName</h2>
    <div class="row">
        <div class="form-group">
            <label for="header">Загрузите excel с шапкой выходной таблицы:</label>
            <input type="file" name="file" id="file" class="form-control" />
        </div>
        @foreach (Exporter.Models.Entities.Parameter param in ViewBag.Parameters)
        {
            <div class="form-group">
                <label class="col-md-2">@param.ParameterRuName</label>
                <div class="col-md-10">
                    <input type="@param.ParameterType" name="@param.ParameterName" data-name="@param.ParameterName" class="form-control text-box single-line parameter" />
                </div>
            </div>
        }
        <input type="hidden" id="SqlQueryId" name="query" value="@ViewBag.QueryId" />
    </div>
    <hr />
    @Html.AntiForgeryToken()
    <!-- <button type="button" class="btn btn-info" onclick="userExec()">Выполнить</button> -->
    <button type="button" id="saveCsvBtn" class="btn btn-primary" onclick="GetCsv()">Сохранить в csv файл</button>
    <button type="button" id="saveXlsBtn" class="btn btn-success" onclick="GetExcel()">Сохранить в xls файл</button>

    <hr />

    <h4>Сформированные файлы</h4>
    <table class="table">
        <tr>
            <th>Наименование</th>
            <th>Дата формирования</th>
            <th>Формат</th>
            <th></th>
        </tr>
        @if (ViewBag.XlsFile != null)
        {
            <tr>
                <td><a class="btn btn-success" href="@Url.Action("GetFile", "Query", new { file = ViewBag.XlsFile.FileName, type = ViewBag.XlsFile.FileType })">@ViewBag.XlsFile.Name Excel</a></td>
                <td>@ViewBag.XlsFile.UpdatedAt</td>
                <td><div class="al-xz-custom-format al-xz-custom-format-xls">@ViewBag.XlsFile.FileType</div></td>
                <td><a class="al-xz-custom-download-link" href="@Url.Action("GetFile", "Query", new { file = ViewBag.XlsFile.FileName, type = ViewBag.XlsFile.FileType })">Скачать</a></td>
            </tr>
        }
        @if (ViewBag.CSvFile != null)
        {
            <tr>
                <td><a class="btn btn-primary" href="@Url.Action("GetFile", "Query", new { file = ViewBag.CsvFile.FileName, type = ViewBag.CsvFile.FileType })">@ViewBag.CsvFile.Name Csv</a></td>
                <td>@ViewBag.CsvFile.UpdatedAt</td>
                <td><div class="al-xz-custom-format al-xz-custom-format-csv">@ViewBag.CsvFile.FileType</div></td>
                <td><a class="al-xz-custom-download-link" href="@Url.Action("GetFile", "Query", new { file = ViewBag.CsvFile.FileName, type = ViewBag.CsvFile.FileType })">Скачать</a></td>
            </tr>
        }
    </table>
    <a type="button" class="btn btn-danger" href="@Url.Action("Queries","Home")">Назад</a>
    <span id="download"></span>
    <span id="result"></span>
</div>

<<<<<<< HEAD
<script src="~/Scripts/app.js"></script>
=======
@section Scripts {
    @Scripts.Render("~/Scripts/app.js")
}
>>>>>>> 00892ff01e5b4c4dfcf5bd29a9d8c83ff065e6c5
